body{
    font-family: 'Montserrat', sans-serif;
}

.btn {
    font-size: 20px;
    font-weight: 700;
    border-radius: 100px;
    background-color: #f6921e;    
    color: #fff;
}

/* Hero area ============= */

.hero {
    color: #fff;
    background-image:
        linear-gradient(to bottom, rgba(0,0,0,.3), rgba(0,0,0,.6)),
        url('../img/hero.jpg');
    background-size: 100% 100%, cover;
    text-align: center;
    display: flex;
    align-items: center;
    padding: 100px 10px;
    border-bottom: 1px solid #fff;
}
.hero div{
    margin: 0 auto;
}

.hero ul{
    margin-bottom: 50px;
}


/* Social btns */
.hero-social li{
    margin: 0 15px;
}

/* Hero date and location */

.hero-date-location li{
    margin: 0 20px;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    color: #fafafa;
}
.hero-date-location img{
    margin-right: 30px;
}

/* LOGO */
.hero h1{
    max-width: 965px;
    height: auto;
}
.hero h1 img{
    width: 100%;
}


.hero h2{
    font-size: 48px;
    font-weight: 700;
    margin: 40px 0 50px 0;
}

.hero h2 span{
    color:#6fa133;
}

.hero-btn-register{
    height:65px;
    width:360px;

}




/* NavBar ============= */

.navbar{
    background-color: #282828;
    color: #fff;
    border: none;
    margin: 0;
    z-index: 100;
    border-radius: 0;
    padding: 30px;
}

.header {
    height: 120px;
    background-color: #282828;
    padding: 32px 40px 32px 40px;
}

.navbar {
    margin-bottom: 0;
    border: 0;
    z-index: 100;
}

#nav.affix {
    position: fixed;
    top: 0px;
    z-index: 100;
    width: 100%;
}

.nav-link a, .nav-link button {
    margin-right: 30px;
    font-size: 17px;
    font-weight: 600;
    letter-spacing: 1px;
}


.btn-register {
    width: 167px;
    height: 56px;
    margin-left: 20px;
    border-radius: 100px;
    background-color: #f6921e;
}

/* TODO: summers, I've got this far. Fixed the hero area and the navbar. Its a bit more reponsive but lots to do.
Remove the left and right border on the sectons and try to use as many out of the box Boostrap components as possible. Forx example use the thumbnail component for the speakers
*/

.border {
    border-left : solid 1px #979797;
    border-right : solid 1px #979797;
}

.border-bottom {
    border-bottom : solid 1px #979797;
}

.what-is {
    font-family: 'Montserrat', sans-serif;
    padding: 110px 50px;
    height: 700px;
    opacity: 0.98;
    background-color: #91b565;
    font-size: 28px;
    font-weight: 400;
    letter-spacing: 1.6px;
    color: #ffffff;
}

.preview {
    overflow: hidden;
    height: 700px;
    padding: 0;
    background-image: url(../img/screen-shot-2016-06-29-at-104433-a-m.jpg) ;
    background-size: cover
}

.play-button {
    margin-top: 283px;
}

.copy {
    object-fit: contain;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    color: #282828;
    margin: 80px 180px
}

.stats {
    background-image: url(../img/people-midpage.jpg);
    background-size: cover;
    padding-top: 40px;
    padding-bottom: 40px;
    min-height: 420px;
}

.stats div {

    font-family: 'Montserrat', sans-serif;
    font-size: 64px;
    font-weight: 300;
    text-align: center;
    color: #ffffff;
    background-color: transparent;
    line-height: 1.1;
    border:0;

}

.trump {
    color: #f6921e;
}

.stats div .trump {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    color: #f6921e;
    line-height: 1.1
}

.featured-header {
    margin: 60px 180px 20px 180px;
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    color: #282828;
}

.speaker {
    text-align: center;
    border: none;
}

.speaker p {
    margin: 10px 0;

    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 300;
    color: #282828;
}

.speaker p .name {
    margin: 10px 0;
    font-size: 24px;
    font-weight: 700;
}

.btn.btn-square {
    border-radius: 0;
}


.btn-speakers {
    background-color: #6c9c31;
    margin: 80px auto;
    width: 80%;
    font-family: 'Montserrat', sans-serif;
    font-size: 28px;
    font-weight: 600;
    padding: 48px 100px;
    color: #FFF;
}

.space {
    background-image: url(../img/limited_space.jpg);
    background-size: cover;
    padding-top: 38px;
    height: 366px;
}

.space ul {
    margin: 40px 0
}

.space ul {
    list-style-type: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 300;
    text-align: center;
    color: #ffffff;
}

.space ul li {
    margin-bottom: 20px;
}

.space ul li button {
    margin-top: 40px;
}

.space ul li.detail {
    font-size: 18px;
    font-weight: 500;

}

.space ul li .headline {
    font-size: 50px;
    font-weight: 900;
    text-align: center;
    color: #ffffff;
}

.space ul li .headline .trump {
    color: #f6921e;
}


div.session {
    float: left;
    margin: 40px;
    position: relative;
    border: none;
}

div.session img{
    width: 480px;
    height: 480px;

}

@media (min-width: 1250px) {

    div.session-row {
        max-width: 1680px;
        margin: auto;
    }

}

@media (max-width: 1250px) {

    div.session-row {
        max-width: 1200px;
        margin: auto;
    }

}

.session div {
    margin: 0;
    font-size: 18px;
    font-weight: 300;
    color: #282828;
    position: absolute;
    bottom:0;
    width:100%;
    padding: 28px 35px;
    background-image: url('../img/green-tint.png');
    background-repeat: repeat;
}

.session.thumbnail {
    padding:0;
}

.session div .title {
    opacity: 1;
    margin: 10px 0;
    font-size: 26px;
    font-weight: 600;
    color: #ffffff;
}

.session div .name {
    opacity: 1;
    margin: 10px 0;
    font-size: 22px;
    font-weight: 300;
    color: #ffffff;
}

.tickets {
    background-image: url(../img/background-tickets.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
}

.tickets .ticket {
    margin: 40px 320px
}

.tickets div.featured-header{
    color: #FFF
}

.tickets div.ticket .header {
    color: #FFF;
    font-size: 24px;
    padding: 24px 60px 24px 60px !important;
    background-color: #6c9c31;
    margin-top: 40px;
    height: auto;
}

.tickets div.ticket .body {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.33;
    color: #262626;
    background-color: #FFF;
    margin: 0 0;
}

.tickets div.ticket .body .description {
    font-size: 18px;
    font-weight: 300;
    line-height: 1.33;
    color: #262626;
    margin: 15px 0
}


.tickets div.ticket .ticket-price {
    text-align: right;
}

.tickets div.ticket .body .buy-button button {
    width: 220px;
    margin: 15px 60px;
    float: right;
}

.boss {
    background-color: #cdddb9;
    border: solid 1px #979797;
    padding-top: 80px ;
    padding-bottom: 40px ;

}

.boss ul {
    list-style-type: none;
    text-align: center;

}

.boss .boss-copy {
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    color: #ffffff;
}

.boss .btn-register-hero {
    margin: 40px auto;
}

.sponsors {

}

.sponsor-section {
    font-size: 24px;
    border-bottom : solid 1px #979797;
    margin : 20px;
}

.sponsor-section a {
    margin: 0 40px 24px 40px;
    float: left;
}

.become-sponsor {
    background-image: url(../img/become-sponsor-bg.jpg);
    background-size: cover;
    padding-top: 65px;
    height: 528px;
    border: solid 1px #979797;
}

.become-sponsor ul {
    margin: 60px 0
}

.become-sponsor ul {
    list-style-type: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 300;
    text-align: center;
    color: #ffffff;
}

.become-sponsor ul li {
    margin-bottom: 20px;
}

.become-sponsor ul li button {
    margin-top: 40px;
}

.become-sponsor ul li.detail {
    font-size: 18px;
    font-weight: 500;

}

.become-sponsor ul li .headline {
    font-size: 50px;
    font-weight: 900;
    text-align: center;
    color: #ffffff;
}

.become-sponsor ul li .headline .trump {
    color: #f6921e;
}

.question {
    background-color: #282828;
    border: solid 1px #979797;
}


.question ul {
    margin: 60px 0
}

.question ul {
    list-style-type: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    text-align: center;
    color: #ffffff;
}

.question  ul li .headline {
    font-size: 50px;
    font-weight: 900;
    text-align: center;
    color: #ffffff;
}

.question ul li {
    margin-bottom: 20px;
}

.question ul li button {
    margin-top: 40px;
}


.footer {
    background-color: #282828;
    border: solid 1px #979797;
}

.footer ul {
    margin: 50px
}

.footer .text {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.43;
    letter-spacing: 3px;
    text-align: center;
    color: #666666;
    text-transform: uppercase;
}
