.container {
    width: 1680px;
    height: 679px;
    object-fit: contain;
    background-color: #282828;
}

.hero-mask {
    opacity: 0.45;
    background-color: #000;
    height: 679px;
    width: 100%;
    position: relative;
    float: left;
}

.hero-container {
    align-content: center;
    height: 679px;
    width: 100%;
    background-image: url('../img/hero.png')
}

.hero-content {
    padding: 100px 0;
    position: absolute;
    width: 100%;
    z-index: 100
}

.hero-content div{
    margin-bottom: 50px
}


.list-inline {
    display: flex;
}

.list-inline li {
    flex: 1;
    text-align: center;
}

.header {
    height: 120px;
    background-color: #282828;
    padding: 32px 40px 32px 40px;
}

.navbar {
    margin-bottom: 0; 
    border: 0; 
    z-index: 100;
}

#nav.affix {
    position: fixed;
    top: 0px;
    z-index: 100;
}

.nav-link a, .nav-link button {
    font-family: 'Montserrat', sans-serif;
    margin-right: 30px;
    font-size: 17px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #ffffff;
}

@media(min-width: 768px) {.navbar-right {
                              float: right!important;
                              margin-right: -30px;
                          }
}
.btn-register {
    width: 167px;
    height: 56px;
    margin-left: 20px;
    border-radius: 100px;
    background-color: #f6921e;
}

.hero-join-text {
    object-fit: contain;
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
}


.hero-date-location-text {
    object-fit: contain;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    color: #fafafa;
}

.hero-date-location-text img {
    margin-right: 30px
}
.btn-register-hero {
    height:65px;
    width:360px;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
    margin-left: 20px;
    border-radius: 100px;
    background-color: #f6921e;
}

.what-is {
    font-family: 'Montserrat', sans-serif;
    padding: 110px 50px;
    height: 700px;
    opacity: 0.98;
    background-color: #91b565;
    font-size: 28px;
    font-weight: 400;
    letter-spacing: 1.6px;
    color: #ffffff;
}

.preview {
    overflow: hidden;
    height: 700px;
    padding: 0;
    background-image: url(../img/screen-shot-2016-06-29-at-104433-a-m.png) ;
    background-size: cover
}

.play-button {
    margin-top: 283px;
}

.copy {
    object-fit: contain;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    color: #282828;
    margin: 80px 180px
}

.stats {
    background-image: url(../img/people-midpage.png);
    background-size: cover;
    height: 350px;
    padding-top: 38px;
}

.stats .list-inline {
    margin: 6px 290px 6px 290px;
    font-family: 'Montserrat', sans-serif;
    font-size: 64px;
    font-weight: 400;
    text-align: center;
    color: #ffffff;
    line-height: 1.1
}

.stats .list-inline.trump {
    margin: 6px 290px 6px 290px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    color: #f6921e;
    line-height: 1.1
}

.speakers-header {
    margin: 60px 180px 20px 180px;
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    color: #282828;
}

.speaker {
    float: left;
    margin: 40px
}

.speaker p {
    margin: 10px 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 300;
    color: #282828;
}

.speaker p .name {
    margin: 10px 0;
    font-size: 24px;
    font-weight: 700;
}

.btn-speakers {
    background-color: #6c9c31;
    margin: 80px auto;
    width: 80%;
    font-family: 'Montserrat', sans-serif;
    font-size: 28px;
    font-weight: 600;
    padding: 48px 100px;
    color: #FFF;
}