.container {
    width: 1680px;
    height: 679px;
    object-fit: contain;
    background-color: #282828;
}

.hero-mask {
    opacity: 0.45;
    background-color: #000;
    height: 679px;
    width: 100%;
    position: relative;
    float: left;
}

.hero-container {
    align-content: center;
    height: 679px;
    width: 100%;
    background-image: url('../img/hero.png')
}

.hero-content {
    padding: 100px 0;
    position: absolute;
    width: 100%;
    z-index: 100
}

.hero-content div{
    margin-bottom: 50px
}


.list-inline {
    display: flex;
}

.list-inline li {
    flex: 1;
    text-align: center;
}

.header {
    height: 120px;
    background-color: #282828;
    padding: 32px 40px 32px 40px;
}

.navbar {
    margin-bottom: 0; 
    border: 0; 
}

#nav.affix {
    position: fixed;
    top: 0px;
}

.nav-link a, .nav-link button {
    font-family: 'Montserrat', sans-serif;
    margin-right: 30px;
    font-size: 17px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #ffffff;
}

@media(min-width: 768px) {.navbar-right {
                              float: right!important;
                              margin-right: -30px;
                          }
}
.btn-register {
    width: 167px;
    height: 56px;
    margin-left: 20px;
    border-radius: 100px;
    background-color: #f6921e;
}

.hero-join-text {
    object-fit: contain;
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
}


.hero-date-location-text {
    object-fit: contain;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    color: #fafafa;
}

.hero-date-location-text img {
    margin-right: 30px
}
.btn-register-hero {
    height:65px;
    width:360px;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
    margin-left: 20px;
    border-radius: 100px;
    background-color: #f6921e;
}

